<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>875535465954-ut7jinsf0djtvl82t16ra1vlu7e71b0s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.875535465954-ut7jinsf0djtvl82t16ra1vlu7e71b0s</string>
	<key>API_KEY</key>
	<string>AIzaSyAgVISh1ureefDceD5PHh-dzK8JW3W_O3w</string>
	<key>GCM_SENDER_ID</key>
	<string>875535465954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flashchat.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-c9269</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-c9269.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875535465954:ios:16caf2e6e1a54308728dbb</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-c9269-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>